body {
    background-color: #fdfbee;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    max-width: 700px;
    background: #fcf8e8;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}

h1 {
    color: #1a1a1a;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: #555;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: #f7f4e9;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    color: #555;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background: #a1925f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #8b7a4e;
}
